body {
  padding: 20px;
  font-family: Inter, sans-serif;
  background: #26262e;
  color: white;
  margin: 0;
  padding: 0;


}

h1 {
  margin-top: 30px;
}


.nav-list {
  list-style: none;
  display: flex;

}

.header-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #dc1234, #150bc8);
  padding-right: 30px;
  padding-left: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;


}

.nav-list-items {
  margin-left: 50px;
  font-size: 20px;
  padding-left: 20px;

}

.react-img {
  width: 55px;
}

.foot-style {

  background: linear-gradient(90deg, #222, #333);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  box-sizing: border-box;
  box-shadow: 0 -4px 10px rgba(79, 54, 54, 0.5);
  margin-top: 489px;


}

.order-list {
  padding-left: 80px;
}

.heading-style {
  padding-left: 40px;
  margin-top: 100px;
}

.header-comp {
  background-color: rgb(16, 15, 35);
  height: 90px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.image-comp {
  padding-right: 10px;
  padding-left: 28px;
  height: 28px;
}

.react-font {
  font-size: 20px;
  margin-bottom: 30px;
  color: rgb(117, 218, 252);
  font-family: arial;

}

.unordered-list {
  li {
    margin-bottom: 20px;
    font-size: 17px;
  }
}

::marker {
  color: rgb(2, 167, 222);
  font-size: 22px;
  font-weight: bold;
}

.main {
  background-image: url(../src/images/images.png);
  padding-left: 28px;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;


}