body {
  padding: 20px;
  font-family: Inter, sans-serif;
  background: white;
  color: white;
  margin: 0;
  padding: 0;
}

.journal-header nav {
  background-color: rgb(251, 78, 78);
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-left: 6px;
  margin-right: 6px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.global-img {
  height: 23px;
  padding-right: 6px;

}

.text-head {
  font-family: Inter, sans-serif;
  font-size: 15px;


}